.product-space {
  padding: 20px;
  /* display: flex; */
  justify-content: center;
}
div {
  max-width: 768px;
  max-height: 1024px;
  /* display: block; */
}

.main-div {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
}
.title {
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 0.5px;
  margin-left: 1px;
}
.content {
  padding-right: 2px;
  /* display: inline-block; */
}
.row {
  --bs-gutter-x: 21.5rem;
  --bs-gutter-y: 0;
  display: block;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.main-img img {
  width: 130px;
  height: 140px;
  padding-right: 10px;
  margin: auto;
  /* display: inline-block; */
}

.container {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  display: block;
}
.container-category {
  padding-left: 20px;
}

.category-tab {
  text-align: left;
  margin: 0.5rem 0 0 0.5rem;
}

.filterItems {
  text-align: left;
  margin-right: 1.5rem;
  /* padding: 0.25rem 0.55rem 0.25rem 0.55rem; */
  border-radius: 5px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}
